# Formatting / linting
black

# Testing
pytest
pytest-asyncio

# Containers / integration tests
docker
testcontainers

# Typing / protobuf helpers
mypy-protobuf
types-protobuf

# protobuf generation
grpcio
grpcio-tools
